[core]
  editor = vim

[user]
  email = foss@yclian.com
  name = Yuen-Chi Lian

[includeIf "gitdir:/home/yclian/Development/github.com/enterprises/ServiceRocket/**"]
  path = ~/.gitconfig-work

[includeIf "gitdir:/home/yclian/Development/servicerocket/**"]
  path = ~/.gitconfig-work
